version: "2.3"
services:
  threadfin:
    image: fyb3roptik/threadfin:latest
    container_name: threadfin
    ports:
      - 34400:34400
    environment:
      - PUID=1000
      - PGID=1000
      - TZ=Europe/London
    volumes:
      - ./data/conf:/home/threadfin/.threadfin
      - ./data/temp:/tmp/threadfin:rw
    restart: unless-stopped
