services:
  plex:
    image: lscr.io/linuxserver/plex:latest
    container_name: plex
    environment:
      - PUID=${PUID}
      - PGID=${PGID}
      - TZ=${TZ}
      - VERSION=docker
    volumes:
      - plex-config:/config
      - ${USB1}/movies:/data1/movies
      - ${USB2}/movies:/data2/movies
      - ${USB1}/tv:/data1/tv
      - ${USB2}/tv:/data2/tv
      - ${USB1}/music:/data1/music
      - ${USB2}/music:/data2/music
      - ${USB1}/audiobooks:/data1/audiobooks
      - ${USB2}/audiobooks:/data2/audiobooks
    ports:
      - ${PLEX_PORT}:32400
    restart: unless-stopped
    networks:
      - media-network

  tautulli:
    image: lscr.io/linuxserver/tautulli:latest
    container_name: tautulli
    environment:
      - PUID=${PUID}
      - PGID=${PGID}
      - TZ=${TZ}
    volumes:
      - tautulli-config:/config
    ports:
      - ${TAUTULLI_PORT}:8181
    restart: unless-stopped
    networks:
      - media-network

  audiobookshelf:
    image: ghcr.io/advplyr/audiobookshelf:latest
    container_name: audiobookshelf
    environment:
      - TZ=${TZ}
    volumes:
      - audiobookshelf-config:/config
      - audiobookshelf-metadata:/metadata
      - ${USB1}/audiobooks:/data1/audiobooks
      - ${USB2}/audiobooks:/data2/audiobooks
    ports:
      - ${AUDIOBOOKSHELF_PORT}:80
    restart: unless-stopped
    networks:
      - media-network

  threadfin:
    image: fyb3roptik/threadfin:latest
    container_name: threadfin
    environment:
      - TZ=${TZ}
    volumes:
      - threadfin-config:/config
    ports:
      - ${THREADFIN_PORT}:34400
    restart: unless-stopped
    networks:
      - media-network

volumes:
  plex-config:
  tautulli-config:
  audiobookshelf-config:
  audiobookshelf-metadata:
  threadfin-config:

networks:
  media-network:
    external: true
