services:
  overseerr:
    image: lscr.io/linuxserver/overseerr:latest
    container_name: overseerr
    environment:
      - PUID=${PUID}
      - PGID=${PGID}
      - TZ=${TZ}
    volumes:
      - overseerr-config:/config
    ports:
      - ${OVERSEERR_PORT}:5055
    restart: unless-stopped
    networks:
      - media-network

volumes:
  overseerr-config:

networks:
  media-network:
    external: true
