version: "3.9"

services:
  prometheus:
    image: prom/prometheus
    container_name: prometheus
    restart: unless-stopped

  grafana:
    image: grafana/grafana
    container_name: grafana
    restart: unless-stopped

  loki:
    image: grafana/loki
    container_name: loki
    restart: unless-stopped
