services:
  audiobookshelf:
    image: ghcr.io/advplyr/audiobookshelf:latest
    container_name: audiobookshelf
    environment:
      - TZ=${TZ}
    volumes:
      - audiobookshelf-config:/config
      - audiobookshelf-metadata:/metadata
      - ${USB1}/audiobooks:/data1/audiobooks
      - ${USB2}/audiobooks:/data2/audiobooks
    ports:
      - ${AUDIOBOOKSHELF_PORT}:80
    restart: unless-stopped
    networks:
      - media-network

volumes:
  audiobookshelf-config:
  audiobookshelf-metadata:

networks:
  media-network:
    external: true
