services:
  sonarr:
    image: lscr.io/linuxserver/sonarr:latest
    container_name: sonarr
    environment:
      - PUID=${PUID}
      - PGID=${PGID}
      - TZ=${TZ}
    volumes:
      - sonarr-config:/config
      - ${USB1}/tv:/data1/tv
      - ${USB2}/tv:/data2/tv
      - ${USB1}/downloads:/data1/downloads
      - ${USB2}/downloads:/data2/downloads
    ports:
      - ${SONARR_PORT}:8989
    healthcheck:
      test: curl --fail http://localhost:8989 || exit 1
      interval: 1m
      timeout: 10s
      retries: 3
    mem_limit: 512m
    cpus: "0.5"
    restart: unless-stopped
    networks:
      - media-network

  radarr:
    image: lscr.io/linuxserver/radarr:latest
    container_name: radarr
    environment:
      - PUID=${PUID}
      - PGID=${PGID}
      - TZ=${TZ}
    volumes:
      - radarr-config:/config
      - ${USB1}/movies:/data1/movies
      - ${USB2}/movies:/data2/movies
      - ${USB1}/downloads:/data1/downloads
      - ${USB2}/downloads:/data2/downloads
    ports:
      - ${RADARR_PORT}:7878
    healthcheck:
      test: curl --fail http://localhost:7878 || exit 1
      interval: 1m
      timeout: 10s
      retries: 3
    mem_limit: 512m
    cpus: "0.5"
    restart: unless-stopped
    networks:
      - media-network

  lidarr:
    image: lscr.io/linuxserver/lidarr:latest
    container_name: lidarr
    environment:
      - PUID=${PUID}
      - PGID=${PGID}
      - TZ=${TZ}
    volumes:
      - lidarr-config:/config
      - ${USB1}/music:/data1/music
      - ${USB2}/music:/data2/music
      - ${USB1}/downloads:/data1/downloads
      - ${USB2}/downloads:/data2/downloads
    ports:
      - ${LIDARR_PORT}:8686
    healthcheck:
      test: curl --fail http://localhost:8686 || exit 1
      interval: 1m
      timeout: 10s
      retries: 3
    mem_limit: 512m
    cpus: "0.5"
    restart: unless-stopped
    networks:
      - media-network

  prowlarr:
    image: lscr.io/linuxserver/prowlarr:latest
    container_name: prowlarr
    environment:
      - PUID=${PUID}
      - PGID=${PGID}
      - TZ=${TZ}
    volumes:
      - prowlarr-config:/config
    ports:
      - ${PROWLARR_PORT}:9696
    healthcheck:
      test: curl --fail http://localhost:9696 || exit 1
      interval: 1m
      timeout: 10s
      retries: 3
    restart: unless-stopped
    networks:
      - media-network

volumes:
  sonarr-config:
  radarr-config:
  lidarr-config:
  readarr-config:
  readarr-audio-config:
  prowlarr-config:

networks:
  media-network:
    external: true
